.navigation {
    min-height: 90vh;
    min-width: 25vh;
    border-right: 1px solid gainsboro;
}

.textSemiBold {
    font-size: 14pt;
    font-weight: 600;
    color: #2f85fa;
}

.firstElement {
    margin-top: 15px;
}

.navbarCustom {
    padding: 0 !important;
}

.navigation a:hover .textSemiBold {
    color: #1a6edb;
}

.navGroupHeader {
    font-size: 14pt;
    font-weight: 600;
    color: #2f85fa;
}
